Source: ros-melodic-optpp-catkin
Section: misc
Priority: extra
Maintainer: Wolfgang Merkt <wolfgang.merkt@ed.ac.uk>
Build-Depends: debhelper (>= 9.0.0), autoconf, gfortran, git, ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-optpp-catkin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The OPT++ catkin wrapper package
